body {
	margin: 0;
	font-family: Inter, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-style: normal;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	box-sizing: border-box;
}

*,
:after,
:before {
	box-sizing: inherit;
}
.root {
	background-color: #e5e8ff;
}
