.main {
	display: flex;
	background-color: #e5e8ff;
	min-height: calc(100vh - 104px);
	margin-right: auto;
	margin-left: auto;
	color: #333866;
	padding-left: 5%;
	padding-right: 5%;
}
.main__today {
	margin: 0;
	font-size: 30px;
	font-weight: 600;
	text-align: center;
	margin-top: 10px;
}
.main__date {
	margin-top: 20px;
	text-align: center;
	font-size: 15px;
	font-weight: 400;
}
.main__degrees {
	margin-top: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 10px;
}
.main__degrees-image {
	height: 86px;
	width: 86px;
}
.main__degrees-number {
	font-size: 80px;
	font-weight: 500;
	letter-spacing: -5px;
	margin: 0;
}
.main__place {
	align-self: baseline;
	margin-left: 30px;
	margin-top: 30px;
	margin-bottom: 10px;
}
.main__info {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	margin-top: 15px;
	margin-bottom: 15px;
}
.main__condition {
	margin-top: 15px;
	margin-bottom: 10px;
}
.main__info-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45%;
	background-color: #ffffff;
	border-radius: 30px;
}

.main__cards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 10px;
	width: 100%;
	justify-content: center;
}
.main__cards_today {
	width: 75%;
}
.main__card {
	position: relative;
	margin: 10px;
	width: 150px;
	border-radius: 15px;
	background-color: #fff;
	padding: 15px;
	border: 3px solid #b4b9d1;
	min-height: 130px;
}
.main__card-img {
	position: absolute;
	height: 35px;
	width: 35px;
	bottom: 10px;
	right: 10px;
}
.main__card-add {
	margin-top: 10px;
	z-index: 3;
}
.main__card-title {
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: 500;
}
.main__card-info {
	font-size: 22px;
	font-weight: bold;
}
.main__week-title {
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: center;
}
.main__day-cards {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}
.main__day-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 16px;
	background-color: #f1f3ff;
	padding: 20px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
}
.main__day-card:last-of-type {
	margin-right: 0;
}
.main__day-date {
	font-size: 20px;
}
.main__day-deg {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: bold;
}
@media screen and (max-width: 600px) {
	.main__info {
		flex-direction: column-reverse;
		align-items: center;
	}
	.main__info-column {
		min-width: 300px;
	}
	.main__card {
		width: 100px;
		min-height: 120px;
	}
	.main__card-title {
		font-size: 12px;
		font-weight: 500;
	}
	.main__card-info {
		font-size: 14px;
	}
	.main__cards_today {
		padding: 0;
		width: 100%;
	}
	.main__degrees-image {
		height: 50px;
		width: 50px;
	}
	.main__degrees-number {
		font-size: 60px;
	}
	.main__day-card {
		padding: 10px;
	}
	.main__day-date {
		font-size: 14px;
		font-weight: 500;
	}
	.main__day-deg{
		font-size: 16px;
	}
	.main_precip{
		font-size: 14px;
	}
}
